/**
 * 	General
 */
html, body {
	height: 100%;
}

body {
	background: rgb(15,15,15);
}
a:link {
	color: rgb(0,154,205);
}
a:visited {
	color: rgb(0,104,139); 
}

a:link, a {
	color: black;
	font-family: "helvetica", "sans-serif";
	text-decoration: none;
}

p {
	color: rgb(240,240,240);
	clear: both;
}

h1 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 40px;
	font-weight: bold;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}

h2 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}

h3 {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 18px;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}

/**
 * 	Header
 */
#header {
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

/**
 * 	Footer
 */
#footer {
	border: 2px solid black;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	text-align: center;
}

/**
 * 	Navigation
 */
#menu {
	margin-left: auto;
	margin-right: auto;
	width: 608px;
}

#menu a:hover {
	background: rgb(28,73,138);
	color: rgb(15,15,15);
}

#menu a {
	background: rgb(15,15,15);
	display: block;
	color: rgb(28,73,138);
	font-weight: bold;
	text-align: center;
	line-height: 2;
}

#menu ul li {
	float: left; /* Display list items horizontally */
	list-style: none;
	position: relative;
	width: 100px;
}

#menu ul li .active {
	background-color: rgb(28,73,138);
	color: rgb(15,15,15);
}

#menu ul li ul {
	display: none;
}

#menu ul li:hover > ul {
	display: block;
	position: absolute;
	top: 100%;
	left: -1px;
}

#menu ul li, #menu ul li ul li {
	border: 1px solid rgb(0, 0, 0);
}

#menu ul li:nth-child(1n+2) {
	border-left: none;
}

#menu ul li ul li {
	border: 1px solid rgb(0, 0, 0) !important;
}

#menu ul li ul li:nth-child(1n+2) {
	border-top: none !important;
}

/**
 * 	Main container
 */
#container {
	overflow: auto;
	margin: 0 auto;
	min-height: 300px;
	width: 100%;
}

/**
 * 	Content
 */
#content {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-top: 50px;
	text-align: center;
}
#moviecontent {
	margin-left: auto;
    margin-right: auto;
	width: 700px;
}

#moviecontent h2{
	text-align: center;
}

#moviecontent h3{
	text-align: left;
}

#moviecontent  .left, #moviecontent .right, #moviecontent .rightstars {
	float: left;
	padding-top: 20px;	
}

#moviecontent  .rightstars {
	width: 350px;	
}

#moviecontent .left {
	width: 250px;
}

#moviecontent .right {
	width: 350px;
}

#moviecontent p {
	clear: none;
}

#moviecontent iframe{
	margin-left: auto;
    margin-right: auto;
	float: left;
	display: block;
	padding-top: 150px;
	padding-bottom: 150px;
}





