/**

 * 	General

 */

html, body {
	height: 100%;
}


body {
	background: rgb(20,20,20);
	font-family: "Helvetica", "sans-serif", "Arial";
}

a:link {
	color: rgb(0,154,205);
}

a:visited {
	color: rgb(0,104,139); 
}


a:link, a {
	color: rgb(0,154,205);
	text-decoration: none;
}


p {
	color: rgb(240,240,240);
	clear: both;
	font-family: "Helvetica", "sans-serif", "Arial";
}


h1 {
	font-family: "Helvetica", "sans-serif", "Arial";
	font-size: 40px;
	font-weight: bold;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}


h2 {
	font-family: "Helvetica", "sans-serif", "Arial";
	font-size: 20px;
	font-weight: bold;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}


h3 {
	font-family:"Helvetica", "sans-serif", "Arial";
	font-size: 18px;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}

h4 {
	font-family:"Helvetica", "sans-serif", "Arial";
	font-size: 15px;
	margin-top: 0px;
	color: rgb(240,240,240);
	clear: both;
}


/**

 * 	Header

 */

#header {
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
	background-image:url('http://cdn.store.steampowered.com/public/images/v5/globalheader_bg.jpg');
	background-repeat:repeat x;
}



/**

 * 	Footer

 */

#footer {
	border: 2px solid black;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	text-align: center;
}



/**

 * 	Navigation

 */

#menu {
	margin-left: auto;
	margin-right: auto;
	width: 608px;
}



#menu a:hover {
	background: rgb(15,15,15);
	color: rgb(150,150,150);
}



#menu a {
	background: rgb(15,15,15);
	display: block;
	color: rgb(250,250,250);
	font-weight: bold;
	text-align: center;
	line-height: 2;
}



#menu ul li {
	float: left; /* Display list items horizontally */
	list-style: none;
	position: relative;
	width: 100px;
}


#menu ul li .active {
	background-color: rgb(15,15,15);
	color: rgb(150,150,150);
}


#menu ul li ul {
	display: none;
}


#menu ul li:hover > ul {
	display: block;
	position: absolute;
	top: 100%;
	left: -1px;
}


#menu ul li, #menu ul li ul li {
	border-left: 1px solid rgb(0, 0, 0);
	border-right: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}


#menu ul li:nth-child(1n+2) {
	border-left: none;
}


#menu ul li ul li {
	border: 1px solid rgb(0, 0, 0) !important;
}



#menu ul li ul li:nth-child(1n+2) {
	border-top: none !important;
}



/**

 * 	Main container

 */

#container {
	overflow: auto;
	margin: 0 auto;
	min-height: 300px;
	width: 100%;
}



/**

 * 	Content home,contact and news

 */

#maincontent {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-top: 50px;
	text-align: center;
}

/**

 * 	Content movies, series and games

 */

#content {
	background: rgba(35,35,35,0.4);
	margin-left: auto;
	margin-right: auto;
	width: 925px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: both;
	overflow: hidden;
	
}

#content h1, h4 {
	text-align: center;
	height: 25px;
}

#content .genrebox {
	float:left;
	padding-left:20px;
	height: 25px;
}

#content .list {
	margin-left: auto;
	margin-right: auto;
	float: left;
	padding-top: 30px;
}

#content li {
	width: 200px;
	margin-left: 15px;
	padding: 10px;
	border-radius: 3px;
}

#content ul {
	padding-left: 102px;
	
}

#content img {
	margin-left: 25px;
	padding-top: 10px;
}

#content li:hover {	
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.9);	
}



/**

 * 	moviecontent

 */

#moviecontent {
	background:rgba(35,35,35,0.4);
	margin-left: auto;
    margin-right: auto;
	width: 725px;
	padding-left: 20px;
	overflow: hidden;
	clear: both;
}



#moviecontent .imglogo{
	padding-bottom: 10px;
	margin-top: -32px;
}


#moviecontent  .left, #moviecontent .right {
	float: left;
	padding-top: 20px;	
}


#moviecontent .left {
	width: 250px;
}


#moviecontent .right {
	width: 450px;
	text-align: justify;
}


#moviecontent  ul  {
	padding-top: 10px;
}


#moviecontent  ul ul li {
	margin-top: 5px;
}


#moviecontent p {
	clear: none;
}


#moviecontent .video {
	margin-top: 10px;
}

    /* javascript*/

#moviecontent .gallery {
	margin-top: 10px;
}
	
	
#moviecontent .backdrops {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.backdrops img {
	background: rgb(0,0,0);
	border: 4px solid rgb(0,0,0);
	height: 50px;
	padding: 1px;
	margin: 0 10px 10px 0;

}
 
.backdrops img:hover {
	border: 4px solid; 
	color:rgb(0,204,255);
	cursor:pointer;
}
 
.preview img {
	background: rgb(0,0,0);
	border: 4px solid rgb(0,0,0);
	padding: 1px;
	height: 250px;
}

.backdrops {
	margin-left: 10px;
}